@import('<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300" rel="stylesheet">')

nav {
	padding: 1rem;
    background-color: #845ec2;
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 20px;
    font-color: #4b4453;
}





.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #a7a0af;
}