@import ('<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300" rel="stylesheet">')

nav {
	padding: 1rem;
    color: #845ec2;
}





.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #a7a0af;
}